{# Load Admin layout #}
{% extends "VideotechBundle::Layout.html.twig" %}

{# Page sub title #}
{% block subTitle %}Ajout Film{% endblock %}


{# Main content block #}
{% block content %}
    <h1 class="page-header">Ajout film</h1>

    <!-- Main form : Creation of a new categorifilm -->
    
    <form class="form-horizontal" action="{{ path("videotech_update_film" , { 'Id' : film.id} ) }}"  method="post" enctype="multipart/form-data" id="mainForm">
	<div class="form-group">
	    <label for="title" class="col-sm-2 control-label">Titre : </label>
	    <div class="col-sm-8">
		<input type="text" pattern=".{10,255}" requiered="true" class="form-control" id="title" name="title" placeholder="Titre film" value="{{film.title}}">
	    </div>
	</div>
	<div class="form-group">
	  <label for="description" class="col-sm-2 control-label">Description : </label>
	  <div class="col-sm-8">
	    <textarea class="form-control" id="description" name="description" placeholder="Titre film" rows="3" >  {{film.description}}
	    </textarea>
	  </div>
	</div>
	<div class="form-group">
	    <label for="image" class="col-sm-2 control-label">Affiche : </label>
	    <div class="col-sm-8">
		<input type="file"  requiered="true" id="image" name="image" value="{{film.imageName}}">
	    </div>
	</div>

	<div class="form-group">
	    <label for="categorySelecter" class="col-sm-2 control-label">Category : </label>
	    <div class="col-sm-8">
		<select class="form-control" id="categorySelecter" name="categorySelecter" onchange="verifyCategory(this)">
		    <option value="-1" selected disabled>Merci de séléctioner une categorie</option>
		    <option value="-2">Créer une catégorie</option>
		    {# loop on each element of category #}
		    {% for category in categories %}
			<option value={{category.id}} {% if category.id == film.category.id %} selected {% endif %} }}>{{category.name}}</option>
		    {% endfor %}

		</select>

	    </div>
	</div>
    </form>
    

    <div>
	<button type="submit" form="mainForm" class="btn btn-primary" >Mettre à jour</button>
    </div>




    <!-- Modals -->

    {% include "VideotechBundle:Film:modals/categoryModal.html.twig" %}

    
    <!-- End of Modals -->



    
{% endblock %}

{% block javascripts %}



  
{% endblock %}
